---
import H2 from "../components/h2.astro";
import InfoLayout from "../layouts/InfoLayout.astro";
---

<InfoLayout>
     <div class="p-4 sm:pt-8 sm:px-12 pb-20 min-h-screen flex flex-col justify-between gap-32">
          <div class="space-y-4 sm:space-y-12">
               <H2> Get to know <br> <i>yve</i> </H2>

               <p class="text-xl xl:text-2xl text-[#F2ECE3] text-balance">
                    <i>yve apparel</i>
                    (2025) is a Hanoi-based fashion brand celebrating Lolita culture with a modern twist. 
                    Inspired by Victorian elegance and Harajuku charm, we create dreamy, detail-rich pieces 
                    for those who express themselves through whimsy, femininity, and timeless romance. (ai generated)
               </p>
          </div>

          <div class="space-y-2 text-lg sm:text-xl">
               <h2 class="px-4 text-[#F2ECE3] underline underline-offset-4 decoration-[#F2ECE3]">Fun facts</h2>

               <ul class="px-4 text-[#F2ECE3] list-disc list-outside text-lg">
                    <li>Fun fact #1</li>
                    <li>Fun fact #2</li>
                    <li>Fun fact #3</li>
                    <li>Fun fact #4</li>
               </ul>
          </div>
     </div>
</InfoLayout>
