---
import { Image } from 'astro:assets';
import H2 from "../components/h2.astro";
import InfoLayout from "../layouts/InfoLayout.astro";
import Collection1 from "../assets/collection1-cover.png";
import Collection2 from "../assets/collection2-cover.png";
import Collection3 from "../assets/collection3-cover.png";

const projects = [
     {
          title: "Collection #1",
          description: "Collection #1 Description",
          image: Collection1
     },
     {
          title: "Collection #2",
          description: "Collection #2 Description",
          image: Collection2
     },
     {
          title: "Collection #3",
          description: "Collection #3 Description",
          image: Collection3
     }];
---

<InfoLayout>
     <div class="p-4 sm:pt-8 sm:px-12 pb-20 min-h-screen">
          <H2> Collections </H2>

          <ul class="mt-4 sm:mt-12 grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-16 sm:gap-8">
               {projects.map((project) => (
                    <li>
                         <Image src={project.image} alt={project.title} class="aspect-[1/1.33] object-center object-cover rounded-lg shadow-lg mb-4 sm:mb-0 sm:mr-4" />
                         <div class="p-1 sm:p-2">
                              <h2 class="text-lg text-[#F2ECE3]">{project.title}</h2>
                              <p class="text-lg text-[#C8BBA8] text-balance">{project.description}</p>
                         </div>
                    </li>
               ))}
          </ul>
     </div>
</InfoLayout>
